.imagem-principal{
    padding-top:56%;
    width: 100%;
}

.menu-container{
    max-width: 100%;
    margin:0 auto;
    background: url('../assets/sala.jpg') no-repeat center;
    background-size: cover;
}

@media (min-width: 720px) {
    .menu-container{
        height: 85vh;
    }
}